<!--login.html-->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Login</title>
    <link rel="stylesheet" th:href="@{/assets/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/assets/css/all.min.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/assets/css/style.css}"/>
    <script type="text/javascript" language="javascript" src="/assets/js/jquery.min.js"></script>
    <script type="text/javascript" language="javascript" src="/assets/js/bootstrap.min.js"></script>

</head>
<body class="vh-100 gradient-custom">
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                <div class="card bg-dark text-white" style="border-radius: 1rem;">
                    <div class="card-body p-5 text-center">
                        <div class="mb-md-5 mt-md-4 pb-5">
                            <h2 class="fw-bold mb-2 text-uppercase">Login</h2>
                            <p class="text-white-50 mb-5">Please enter your login and password!</p>

                            <form th:action="@{/login}" method="POST" class="form-signin">
                                <div class="form-outline form-white mb-4">
                                    <input type="text" name="email" th:placeholder="Email" class="form-control form-control-lg"/> <br /><br />
                                </div>
                                <div class="form-outline form-white mb-4">
                                    <input type="password" name="password" th:placeholder="Password" class="form-control form-control-lg" /> <br /><br />
                                </div>
                                    <button class="btn btn-outline-light btn-lg px-5" type="Submit" th:text="Login"></button></a><br />
                                <div th:if="${param.error}"><p>Email or Password is invalid.</p></div> <br />

                            </form>
                            <p class="mb-0">Or go to the read-only site <a href="licenses/dashboard" class="text-white-50 fw-bold">HERE</a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>