<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/layout :: head('Add Product')">
</head>

<body>
  <div th:replace="fragments/layout :: navbar"></div>

  <form action="#" th:action="@{/licenses/create/}" th:object="${license}" method="post">
    <div class="col-sm-12">
      <div class="form-group">
        <p>Add a Product</p>
        <label for="product_name">Product Name <span class="badge badge-danger">Mandatory</span></label>
        <input type="text" id="product_name" class="form-control" placeholder="(Example) Redhat Server" th:field="*{product_name}" />
        <span th:if="${#fields.hasErrors('product_name')}" th:errors="*{product_name}" style="color: red"></span>

        <label for="version">Version <span class="badge badge-danger">Mandatory</span></label>
        <input type="text" id="version" class="form-control" placeholder="7.9.0" th:field="*{version}" />
        <span th:if="${#fields.hasErrors('version')}" th:errors="*{version}" style="color: red"></span>
      </div>

      <button type="submit" class="btn btn-primary">Confirm</button>
    </div>
  </form>

</body>
</html>
