<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/layout :: head('List Products')">

</head>

<body>
  <div th:replace="fragments/layout :: navbar"></div>

  <table class="table table-bordered table-hover" id="productTable">
    <thead class="thead-dark">
      <tr>
        <th width="10%">ID</th>
        <th width="50%">Product Name</th>
        <th width="10%">Version</th>
        <th width="10%">License Key</th>
        <th width="5%">Start</th>
        <th width="5%">Expiration</th>
        <th width="10%">Delete</th>
      </tr>
    </thead>
    <tbody>
      <tr th:each="license:${license}">
        <td th:text="${license.id}"></td>
        <td>
          <a th:text="${license.product_name}" th:href="@{/licenses/{id}/update/(id=${license.id})}">
          </a>
        </td>
        <td>
          <a th:text="${license.version}" th:href="@{/licenses/{id}/update/(id=${license.id})}">
          </a>
        </td>
        <td>
          <a th:text="${license.license_key}" th:href="@{/licenses/{id}/update/(id=${license.id})}">
          </a>
        </td>
        <td>
          <a th:text="${license.start_date}" th:href="@{/licenses/{id}/update/(id=${license.id})}">
          </a>
        </td>
        <td>
          <a th:text="${license.expiration_date}" th:href="@{/licenses/{id}/update/(id=${license.id})}">
          </a>
        </td>
        <td>
          <a th:href="@{/licenses/{id}/delete/(id=${license.id})}" onClick="return window.confirm('Are you sure you want to delete Product?')">
            <i class="far fa-trash-alt fa-lg" aria-hidden=”true”></i>
          </a>
        </td>
      </tr>
    </tbody>
  </table>

  <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.12.1/css/jquery.dataTables.min.css">
  <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/fixedheader/3.2.3/css/fixedHeader.dataTables.min.css">
  <style type="text/css" class="init">
	thead input {
		width: 100%;
	}
  </style>
  <script type="text/javascript" language="javascript" src="https://code.jquery.com/jquery-3.5.1.js"></script>
  <script type="text/javascript" language="javascript" src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js"></script>
  <script type="text/javascript" language="javascript" src="https://cdn.datatables.net/fixedheader/3.2.3/js/dataTables.fixedHeader.min.js"></script>
  <script type="text/javascript" class="init">
    $(document).ready(function () {
        // Setup - add a text input to each footer cell
        $('#productTable thead tr')
            .clone(true)
            .addClass('filters')
            .appendTo('#productTable thead');

        var table = $('#productTable').DataTable({
            orderCellsTop: true,
            fixedHeader: true,
            initComplete: function () {
                var api = this.api();

                // For each column
                api
                    .columns()
                    .eq(0)
                    .each(function (colIdx) {
                        // Set the header cell to contain the input element
                        var cell = $('.filters th').eq(
                            $(api.column(colIdx).header()).index()
                        );
                        var title = $(cell).text();
                        $(cell).html('<input type="text" placeholder="' + title + '" />');

                        // On every keypress in this input
                        $(
                            'input',
                            $('.filters th').eq($(api.column(colIdx).header()).index())
                        )
                            .off('keyup change')
                            .on('change', function (e) {
                                // Get the search value
                                $(this).attr('title', $(this).val());
                                var regexr = '({search})'; //$(this).parents('th').find('select').val();

                                var cursorPosition = this.selectionStart;
                                // Search the column for that value
                                api
                                    .column(colIdx)
                                    .search(
                                        this.value != ''
                                            ? regexr.replace('{search}', '(((' + this.value + ')))')
                                            : '',
                                        this.value != '',
                                        this.value == ''
                                    )
                                    .draw();
                            })
                            .on('keyup', function (e) {
                                e.stopPropagation();

                                $(this).trigger('change');
                                $(this)
                                    .focus()[0]
                                    .setSelectionRange(cursorPosition, cursorPosition);
                            });
                    });
            },
        });
    });
  </script>

</body>

</html>
