<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/layout :: head('Home')">
</head>

<body>
  <div th:replace="fragments/layout :: navbar"></div>

  <div class="container-fluid">
    <h5>menu</h5>
    <hr>

    <div class="row">
      <div class="col-sm-6">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">
              <a class="nav-link" th:href="@{/licenses/create}">
                <i class="fas fa-plus fa-lg" aria-hidden=”true”></i> Add a Product
              </a>
            </h5>
            <p class="card-text">Register a New Product.</p>
          </div>
        </div>
      </div>

      <div class="col-sm-6">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">
              <a class="nav-link" th:href="@{/licenses/}">
                <i class="fas fa-list fa-lg" aria-hidden=”true”></i> Show All Products
              </a>
            </h5>
            <p class="card-text">Display a List of Products.</p>
          </div>
        </div>
      </div>

    </div>
  </div>
</body>

</html>
